{% extends "base.html.twig" %}

{% block body %}
	<h1>Hello
		{{ prenom }}
		!</h1>
	<p>Vous avez
		{{ age }}
		ans !</p>

	<br/>
	Trie ages<br/>
	{% if age >= 18 %}
		Vous êtes un adulte !
	{% else %}
		Vous êtes un enfant !
	{% endif %}

	<br/>

	<ul>
		{% for age in ages %}
			{% if age >= 18 %}
				<li>adlute</li>
			{% else %}
				<li>enfant</li>
			{% endif %}
		{% endfor %}
	</ul>

	<ul>
		{% for personne in prenoms %}
			<li>{{ personne | upper  }}</li>
		{% endfor %}
	</ul>
	<ul>
		{% for i in 1..10 %}
			<li>Numéro
				{{i}}</li>
		{% endfor %}
	</ul>

	<p>Mon formateur s'appelle
		<srtong>{{ formateur.prenom }}</strong>
		{{ formateur.nom }}
		et il à
		{{ formateur.age }}
		ans !</p>

	<h2>Nos formateurs</h2>
	{% include "_formateur.html.twig" with {"formateur":formateur1} %}
	{% include "_formateur.html.twig" with {"formateur":formateur2} %}

{% endblock %}

{% block title %}
	Hello
	{{ prenom }}
{% endblock %}
